body {
  background-color: rgba(197, 192, 160, 0.164);
  color:rgba(46, 26, 7, 0.993);
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 800px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.heading {
  
  font-size: 30px;
}

.value {
  font-size: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;

}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  outline: none;
  border: 7px solid transparent;
  color: rgb(197, 151, 81);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: hsla(48, 32%, 59%, 0.315);
  border-radius: 50%;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 8px;
}

.button:hover, .button:focus {
  border: 7px double rgba(97, 55, 15, 0.993)
}

.button:active {
  background-color: hsl(48, 32%, 59%);
}



.display {
  border: 10px double rgba(97, 55, 15, 0.993);
  border-radius: 50%;
 
  padding: .3em;
  width: 100%;
  font-size: 5em;
}
