.row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  width: 800px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
}

.value {
  font-size: 78px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  outline: none;
  border: 4px solid transparent;
  color: rgb(80, 101, 172);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(32, 74, 209, 0.1);
  border-radius: 40px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 8px;
}

.button:hover, .button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}




.controls {
  width: auto;
}

.display {
  border: solid black 3px;
  width: 400px;
  margin: auto;
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
